* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: #c7c0c0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tabOne, .tabTwo, .tabThree {
    height: 5vh;
    min-width: 10vw;
    margin: 1vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.tabOne:hover, .tabTwo:hover, .tabThree:hover {
    background-color: #ddd;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

h1 {
    padding: 3vh;
}

.footer {
    background-color: #c7c0c0;
    padding: 20px;
    text-align: center;
}

img {
    height: 50vh;
    width: 35vw;
    padding: 3vh;
}

.description {
    padding: 3vh;
    width: 40vw;
}

